section
    .flex.flex-center
        .col1
            p i'm kalana dhanajaya rathnayake i'm kalana dhanajaya rathnayake i'm kalana dhanajaya rathnayake 
        
        .col1
            p i'm kalana dhanajaya rathnayake i'm kalana dhanajaya rathnayake i'm kalana dhanajaya rathnayake 

    .flex.flex-space-arround
        .col1
            p i'm kalana dhanajaya rathnayake i'm kalana dhanajaya rathnayake i'm kalana dhanajaya rathnayake 
        
        .col1.order-first
            p   order first i'm kalana dhanajaya rathnayake i'm kalana dhanajaya rathnayake i'm kalana dhanajaya rathnayake 

    .flex.flex-center
            .col2
                p i'm kalana dhanajaya rathnayake i'm kalana dhanajaya rathnayake i'm kalana dhanajaya rathnayake 

    .flex
        .col50.flex.flex-center
            .col1
                p i'm kalana dhanajaya rathnayake i'm kalana dhanajaya rathnayake i'm kalana dhanajaya rathnayake 
            
        .col50
            p i'm kalana dhanajaya rathnayake i'm kalana dhanajaya rathnayake i'm kalana dhanajaya rathnayake 
