mixin nav-content()
    ul 
        li: a(href ="#home") Home
        li: a(href ="#about") About
        li: a(href ="#research") Research
        li: a(href ="#people") People
        li: a(href ="#facilities") Facilities
        li: a(href ="#resources") Resources
        li: a(href ="#teaching") Teaching

.mobile-nav
    +nav-content()

header
    .header-position
        h1

        nav.site-nav
           +nav-content()
        a(href = "email").emaillink +email

        .mobile-nav-toggle: span