header
    h1.logo University of Peradeniya 

    nav
        ul 
            li: a(href ="#About") About
            li: a(href ="#About") About
            li: a(href ="#About") About
            li: a(href ="#About") About
            li: a(href ="#About") About
            li: a(href ="#About") About
            li: a(href ="#About") About