section.about
    #particles-js.flex
        
        .col12
            p Department of
            h4#HeaderName  Computer Engineering 
            //- p University of Peradeniya

    .flex.flex-center
        .logo-header