section.about
    #particles-js.flex
        
        .col12
            h4#HeaderName Department of Computer Engineering 
            p University of Peradeniya

    .flex.flex-center
        .logo-header