section.about
    // background:
    //     image: url("/assets/img/header2.svg")
    //     position: right bottom
    //     size: cover
    height: 10vw
    z-index: -1
    border-bottom: 1px solid lightgray
    background-color: darkred
    p 
        color: lightgray
.col12
    position: absolute
    background: transparent
    left: 30px
    z-index: 2

#particles-js
    position: relative
    height: 100%
    z-index: 200

#HeaderName
    color: white
    z-index: 0

.logo-header
    position: relative
    background:
        image: url("/assets/img/logo-university.svg")
        position: right bottom
        size: cover
    width: 100px
    height: 100px